# --- Utilities & UI ---
tqdm
python-dotenv
numpy
huggingface_hub
streamlit

# --- AI & NLP Core ---
faster-whisper

# --- Audio Input ---
pyaudio

# --- Speaker Diarization ---
pyannote.audio

# --- PyTorch (CUDA 12.9) --- 본인 cuda 버전에 맞게 수정하기
--extra-index-url https://download.pytorch.org/whl/cu129
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0

# 버전문제 수정
lightning==2.5.6
pytorch-lightning==2.5.6

# LLM
google-genai