# --- Utilities & UI ---
tqdm
python-dotenv
numpy
huggingface_hub
streamlit

# --- AI & NLP Core ---
faster-whisper
sentence-transformers
transformers
keybert

# --- Audio Input ---
pyaudio

# --- Speaker Diarization ---
pyannote.audio

# --- PyTorch (CUDA 12.9) --- 본인 cuda 버전에 맞게 수정하기
--extra-index-url https://download.pytorch.org/whl/cu129
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0